<p id="notice"><%= notice %></p>

<div class="row show-grid">
    <div class="col-md-1">姓名:</div>
    <div class="col-md-6"><%= @user.name %></div>
</div>
<div class="row show-grid">
    <div class="col-md-1">Hashed password:</div>
    <div class="col-md-6"><%= @user.hashed_password %></div>
</div>
<div class="row show-grid">
    <div class="col-md-1">Salt:</div>
    <div class="col-md-6"><%= @user.salt %></div>
</div>

<%= link_to '编辑', edit_user_path(@user), class:"btn btn-default" %>
<%= link_to '返回', users_path, class:"btn btn-default" %>