<h1>用户列表</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
      <th>密码</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customs.each do |custom| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td><%= custom.name %></td>
        <td><%= custom.password %></td>
        <td><%= link_to '查看', custom %></td>
        <td><%= link_to '编辑', edit_custom_path(custom) %></td>
        <td><%= link_to '删除', custom, method: :delete, data: { confirm: '你确定 ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '添加用户', new_custom_path, class:"h2" %>
