<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row form-group">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">姓名</span>
        <%= f.text_field :name, class:"form-control", placeholder:"请输入姓名"%>
      </div>
    </div>
  </div>  
  <div class="row form-group">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">地址</span>
        <%= f.text_field :address, class:"form-control", placeholder:"请输入地址"%>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">邮箱</span>
        <%= f.text_field :email, class:"form-control",
             placeholder:"请输入邮箱" %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6"><span >付款类型</span>
      <%= f.select  :pay_type, Order::PAYMENT_TYPES, prompt:'选择付款类型', class:"form-control" %>
    </div>
  </div>
  
  <div class="row form-group">
    <div class="col-md-1">
      <div class="actions">
        <button type="submit" class="btn btn-default" name="submit">确认</button>
      </div>
    </div>
    <%= link_to '返回', products_path, class:"btn btn-default" %>
  </div>
<% end %>
