<table>
  <%= render(@cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">合计</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price , :unit=>"￥") %></td>
  </tr>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>收货人</th>
      <th>地址</th>
      <th>联系电话</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
          <td><%= detail.name %></td>
          <td><%= detail.addr %></td>
          <td><%= detail.contach %></td>
          <%= form_for(@order) do |f| %>
          <input name="name" type="hidden" value="<%= detail.name %>"/>
          <input name="address" type="hidden" value="<%= detail.addr %>"/>
          <input name="contach" type="hidden" value="<%= detail.contach %>"/>
          <td><button type="submit" class="btn btn-default" name="submit">结账</button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新增收货地址', new_detail_path, class:"h2" %>
