<h1>订单列表</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>收货人</th>
      <th>地址</th>
      <th>联系电话</th>
      <th>商品</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.contach %></td>
        <td><%= order.pro %></td>
        <td><%= link_to '查看', order %></td>
        <td><%= link_to '编辑', edit_order_path(order) %></td>
        <td><%= link_to '删除', order, method: :delete, data: { confirm: '确定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

