<p id="notice"><%= notice %></p>

<div class="row show-grid">
    <div class="col-md-1">姓名:</div>
    <div class="col-md-3"><%= @order.name %></div>
</div>

<div class="row show-grid">
    <div class="col-md-1">地址:</div>
    <div class="col-md-3"><%= @order.address %></div>
</div>

<div class="row show-grid">
    <div class="col-md-1">联系方式:</div>
    <div class="col-md-3"><%= @order.contach %></div>
</div>

<div class="row show-grid">
    <div class="col-md-2">已买商品:</div>
    <div class="col-md-3"><%= @order.pro %></div>
</div>


<%= link_to '编辑', edit_order_path(@order), class:"btn btn-default" %> 
<%= link_to '返回', orders_path, class:"btn btn-default" %>
