
<p id="notice"><%= notice %></p>

<div class="row show-grid">
    <div class="col-md-2">商品名:</div>
    <div class="col-md-6"><%= @product.title %></div>
</div>

<div class="row show-grid">
    <div class="col-md-2">商品详情:</div>
    <div class="col-md-6"><%= @product.description %></div>
</div>

<div class="row show-grid">
    <div class="col-md-2">商品类型:</div>
    <div class="col-md-6"><%= @product.pro_species %></div>
</div>

<div class="row show-grid">
    <div class="col-md-2">图片地址:</div>
    <div class="col-md-6"><%= @product.image_url %></div>
</div>

<div class="row show-grid">
    <div class="col-md-2">价格:</div>
    <div class="col-md-6"><%= @product.price %></div>
</div>


<%= link_to '编辑', edit_product_path(@product), class:"btn btn-default" %> 
<%= link_to '返回', products_path, class:"btn btn-default" %>
