<h1>所有地址</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
      <th>地址</th>
      <th>联系电话</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td><%= detail.name %></td>
        <td><%= detail.addr %></td>
        <td><%= detail.contach %></td>
        <td><%= link_to 'Show', detail %></td>
        <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
        <td><%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

