<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detail.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @detail.addr %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @detail.contach %>
</p>



<%= link_to '修改', edit_detail_path(@detail) %> 

