<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depot</title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <div class="container">
  <nav class="navbar navbar-default nav-set" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="logo pull-left"></div>
    <div class="navbar-header">
      <%= link_to "首页", store_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if session[:user_id] %>
      <ul class="nav navbar-nav">
        <li><%= link_to "订单", orders_path %></li>
        <li><%= link_to "商品", products_path %></li>
        <li><%= link_to "用户", users_path %></li>
        <li><%= button_to "退出", logout_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "登陆", login_path %></li>
      </ul>
      <% end %>
      
      <div class="weather pull-right">
        <iframe src="http://m.weather.com.cn/m/pn1/weather.htm " width="235" height="20" marginwidth="0"   marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>  
      </div>
    </div>
  </nav>  
  <div class="row sub-set">
    <div class="col-md-4 ">
      <div class="slideshow-list">
        <ul>
          <li><span class='toptext'><a href='http://www.feilook.com/thespace-a3.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>人员招聘</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a512.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>TOPMAN LUX 2013秋冬</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a513.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>THE WAY WE WEAR THEM</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a509.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>BEST IN SHOW</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a507.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>Topshop Unique 2014春夏秀场</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a506.html' target='_blank' style='font-size: 13px; color:#ddacc2;'>Mary Katrantzou 的裙上风景</a></span></li> 
        </ul>
        <span class="prev-top">▲</span>
        <span class="next-top">▼</span>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <form class="form-inline" role="search" method="get" action=
                   "<%= store_path %>">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="输入商品进行搜索" style="width:25em;">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <div class="search_hot">热门搜索：<a href="http://item.haitao.com/s/index.php?q=%E5%8A%A0%E5%B7%9E%E5%AE%9D%E5%AE%9D">加州宝宝</a> <a href="http://item.haitao.com/s/index.php?q=小蜜蜂">小蜜蜂</a> <a href="http://item.haitao.com/s/index.php?q=魔声">魔声</a> <a href="http://item.haitao.com/s/index.php?q=新百伦">新百伦</a> <a href="http://item.haitao.com/s/index.php?q=手表">手表</a>  <a href="http://item.haitao.com/s/index.php?q=coach">coach</a> <a href="http://item.haitao.com/s/index.php?q=ecco">爱步ecco</a><a href="http://item.haitao.com/s/index.php?q=膳魔师">膳魔师</a> </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <div id="container" class="index_ad">
        <ul id="indexAdList">
        <li>
        <a href="http://www.feilook.com/onsale-0-p1.html"><img src="http://www.feilook.com/data/afficheimg/20140507waqitm.jpg"/></a>
        </li>
        <li>
        <a href="http://www.feilook.com/topman/"><img src="http://www.feilook.com/data/afficheimg/20140428cbtcdj.jpg"/></a>
        </li>
        <li>
        <a href="http://www.feilook.com/topshop/fuzhuang/"><img src="http://www.feilook.com/data/afficheimg/20140428uijlku.jpg"/></a>
        </li>
        <li>
        <a href="http://www.feilook.com/brands/topshop-adidas"><img src="http://www.feilook.com/data/afficheimg/20140415ljkylm.jpg"/></a>
        </li>
        <li>
        <a href="http://www.feilook.com/brands/Dienastie"><img src="http://www.feilook.com/data/afficheimg/20140320mmdkjr.jpg"/></a>
        </li>
        </ul>
      <span class="prev-top"></span>
      <span class="next-top"></span>
      </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-3">
          <div class="well nav-set">
            <div>
              <% if @cart %>
                <div id="cart" <% if @cart.line_items.empty? %>  style="display: none" <% end %> >
                 <%= render @cart %>
                </div>
              <% end %>
            </div> 
            <ul class="nav nav-list">
              <li class="nav-header">图书.家电.数码</li>
              <li>
                <%= link_to '数码', {controller:"store",action:"index", search:"数码"} %>
              </li>
              <li>
                <%= link_to '图书', {controller:"store",action:"index", search:"图书"} %>
              </li>
              <li>
                <%= link_to '家电', {controller:"store",action:"index", search:"家电"} %>
              </li>
              <li class="nav-header">服饰.化妆品.箱包</li>
              <li>
                <%= link_to '服饰', {controller:"store",action:"index", search:"服饰"} %>
              </li>
              <li>
                <%= link_to '鞋', {controller:"store",action:"index", search:"鞋"} %>
              </li>
              <li>
                <%= link_to '包', {controller:"store",action:"index", search:"包"} %>
              </li>
              <li class="nav-header">食品</li>
              <li>
                <%= link_to '酒水.饮料', {controller:"store",action:"index", search:"酒水.饮料"} %>
              </li>
              <li>
                <%= link_to '零食', {controller:"store",action:"index", search:"零食"} %>
              </li>
              <li>
                <%= link_to '其他', {controller:"store",action:"index", search:""} %>
              </li>
            </ul>
          </div><!--/.well -->
      </div>
      <div class="col-md-9 set">
        <%= yield %>
      </div>
    </div>  
    <blockquote>
      <div class="footer">
        <hr>
        <div class="">
          <div style="margin:10px auto;width:30%;overflow:hidden">
        <!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" style="margin:10px 0 0 -4px">
                <a class="bds_tsina"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
                <a class="bds_qzone"></a>
                <a class="bds_douban"></a>
                <a class="bds_xg"></a>
                <span class="bds_more">ff</span>
                <a class="shareCount"></a>
            </div>
          <script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
          <script type="text/javascript" id="bdshell_js"></script>
          <script type="text/javascript">
              document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours
          ();
          </script>
          <!-- Baidu Button END -->
          </div>
        </div>
        <div class="pull-right">
          Copyright©depotstore.herokuapp.com All Rights Reserved         
        </div>
        <br/>
      </div>
    </blockquote> 
  </div>
</body>
</html>
