<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depot Store</title>
      <link href="/assets/bootstrap.min.css" media="screen" rel="stylesheet" />
      <link href="/assets/component.css" media="screen" rel="stylesheet" />
      <link href="/assets/depot.css" media="screen" rel="stylesheet" />
      <link href="/assets/scaffolds.css" media="screen" rel="stylesheet" /> 
      <script src="/assets/jquery.js"></script>
      <script src="/assets/jquery_ujs.js"></script>
      <script src="/assets/jcarousellite_1.0.1.min.js"></script>
      <script src="/assets/modernizr.custom.js"></script>
      <script src="/assets/mystyle.js"></script> 
    <%= csrf_meta_tags %>
    <link type="image/x-icon" href="../images/favicon.png" rel="shortcut icon">
  </head>
<body>
  <div class="container">
  <nav class="navbar navbar-default nav-set" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="logo pull-left"></div>
    <div class="navbar-header">
      <%= link_to "首页", store_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if session[:user_id] %>
      <ul class="nav navbar-nav">
        <li><%= link_to "订单", orders_path %></li>
        <li><%= link_to "商品", products_path %></li>
        <li><%= link_to "用户", users_path %></li>
        <li><%= button_to "退出", logout_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "登陆", login_path %></li>
      </ul>
      <% end %>
      
      <div class="weather pull-right">
        <iframe src="http://m.weather.com.cn/m/pn4/weather.htm " width="160" height="20" marginwidth="0"   marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>      
      </div>
    </div>
  </nav>  
  <div class="row sub-set">
    <div class="col-md-4 ">
      <div class="slideshow-list">
        <ul>
          <li><span class='toptext'><%= link_to 'Search', {controller:"store",action:"index", search:""} %></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a512.html' target='_blank'>TOPMAN LUX 2013秋冬</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a513.html' target='_blank'>THE WAY WE WEAR THEM</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a509.html' target='_blank'>BEST IN SHOW</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a507.html' target='_blank'>Topshop Unique 2014春夏秀场</a></span></li><li><span class='toptext'><a href='http://www.feilook.com/thespace-a506.html' target='_blank'>Mary Katrantzou 的裙上风景</a></span></li> 
        </ul>
        <span class="prev-top">▲</span>
        <span class="next-top">▼</span>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <form class="form-inline" role="search" method="get" action=
                   "<%= store_path %>">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="输入商品进行搜索" style="width:25em;">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <div class="search_hot">热门搜索：
        <%= link_to '数码', {controller:"store",action:"index", search:"数码"} %>
        <%= link_to '图书', {controller:"store",action:"index", search:"图书"} %>
        <%= link_to '包', {controller:"store",action:"index", search:"包"} %>
        <%= link_to '鞋', {controller:"store",action:"index", search:"鞋"} %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
          <div class="well nav-set">
            <div>
              <% if @cart %>
                <div id="cart" <% if @cart.line_items.empty? %>  style="display: none" <% end %> >
                 <%= render @cart %>
                </div>
              <% end %>
            </div> 
            <ul class="nav nav-list">
              <li class="nav-header">图书.家电.数码</li>
              <li>
                <%= link_to '数码', {controller:"store",action:"index", search:"数码"} %>
              </li>
              <li>
                <%= link_to '图书', {controller:"store",action:"index", search:"图书"} %>
              </li>
              <li>
                <%= link_to '家电', {controller:"store",action:"index", search:"家电"} %>
              </li>
              <li class="nav-header">服饰.化妆品.箱包</li>
              <li>
                <%= link_to '服饰', {controller:"store",action:"index", search:"服饰"} %>
              </li>
              <li>
                <%= link_to '鞋', {controller:"store",action:"index", search:"鞋"} %>
              </li>
              <li>
                <%= link_to '包', {controller:"store",action:"index", search:"包"} %>
              </li>
              <li class="nav-header">食品</li>
              <li>
                <%= link_to '酒水.饮料', {controller:"store",action:"index", search:"酒水.饮料"} %>
              </li>
              <li>
                <%= link_to '零食', {controller:"store",action:"index", search:"零食"} %>
              </li>
              <li>
                <%= link_to '其他', {controller:"store",action:"index", search:""} %>
              </li>
            </ul>
          </div><!--/.well -->
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>  
    <blockquote>
      <div class="footer">
        <hr>
        <div class="center">
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">新浪微博</a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone">QQ空间</a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren">人人网</a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin">微信</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"http://depotstore.herokuapp.com 谢谢你的支持","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
        <div class="copyright pull-right">
          Copyright©depotstore.herokuapp.com All Rights Reserved         
        </div>
        <br/>
      </div>
    </blockquote> 
  </div>
</body>
</html>